</html>

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Siw Movie</title>
	<link rel="stylesheet" href="/css/toAdd.css" />
</head>

<body>
	<div class="header">
		<nav>
			<img src="/images/logo.png" class="logo">
			<div th:if="${#request.userPrincipal}">
				<span th:text="${#request.userPrincipal.principal.username}"></span>
				<a href="/logout"><button>Disconnetti</button></a>
			</div>
			<div th:unless="${#request.userPrincipal}">
				<a href="/login"><button>Accedi</button></a>
				<a href="/register"><button>Iscriviti</button></a>
			</div>
		</nav>
		<div class="directed">
			<div class="toadd">
				<h1 th:text="'Attori del film ' + ${movie.title}"></h1>
				<div th:if="${movie.actors.isEmpty()}">Non ci sono attori per questo film</div>
				<ul>
					<li th:each="actor : ${movie.actors}">
						<span th:text="${actor.name}+' '+${actor.surname}"></span>
						<a th:href="@{'/admin/removeActorFromMovie/'+ ${actor.id}+'/'+${movie.id}}">Cancella</a>
					</li>
				</ul>
			</div>
			<div>
				<h1>Attori che si possono aggiungere:</h1>
				<ul>
					<li th:each="actor : ${actorsToAdd}">
						<span th:text="${actor.name}+' '+${actor.surname}"></span>
						<a th:href="@{'/admin/addActorToMovie/'+ ${actor.id}+'/'+${movie.id}}">Aggiungi</a>
					</li>
				</ul>
				<div>
					<div>
						<a th:href="@{'/admin/formUpdateMovie/'+ ${movie.id}}"><button type="button">Fine</button></a>
					</div>
				</div>
			</div>

</body>

</html>