<!DOCTYPE html>
<html>

<head>
	<title>
		New Artist
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
	<h1>Aggiorna artista</h1>
	<div th:if="${artist}">
		<div>
			<span th:text="${artist.name}">Up!</span>
			<span th:text="${artist.surname}">2000</span>
		</div>
			<span>Film di cui è direttore: </span>
            <div th:each="directedMovie : ${directedMovies}">
                <span th:text="${directedMovie.title} + '(' + ${directedMovie.year} + ')'">Al Pacino</span>
            </div>
			<a th:href="@{'/admin/updateDirectedMovies/' + ${artist.id}}">
				<button type="button">Modifica</button>
			</a>
            
        </div>

		<div>
			<span>Film in cui ha recitato: </span>
			<div th:each="starredmovie: ${artist.starredMovies}">
				<span th:text="${starredmovie.title} + '(' + ${starredmovie.year} + ')'">Al Pacino</span>
			</div>
			<a th:href="@{'/admin/updateStarredMovies/' + ${artist.id}}">
				<button type="button">Modifica</button>
			</a>
		</div>
		<div th:unless="${artist}">Artista non esistente</div>
</body>

</html>