<!DOCTYPE html>
<html>

<head>
	<title>
		New Movie
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
	<h1>Aggiorna film</h1>
	<div th:if="${movie}">
		<div>
			<span th:text="${movie.title}">Up!</span>
			<span th:text="'(' + ${movie.year} + ')'">2000</span>
			<div th:each="image : ${movie.images}">
				<img th:src="@{'data:image/*;base64,'+${image.base64Image}}">
				<a th:href="@{'/admin/removeImage/'+${movie.id}+'/'+${image.id}}">rimuovi immagine</a>
			</div>
			<form th:action="@{/admin/addImage}" method="post" enctype="multipart/form-data">
				<input type="hidden" name="movie" th:value="${movie.id}">
				<input type="file" accept="image/*" name="file" required/>
				<button type="submit">aggiungi immagine</button>
			</form>
		</div>
		<div th:if="${movie.director}">
			<span>Regista: </span><span th:text="${movie.director.name} + ' ' + ${movie.director.surname}">Steven
				Spielberg</span>
			<a th:href="@{'/admin/addDirector/' + ${movie.id}}">Modifica regista</a></span>
		</div>
		<div th:unless="${movie.director}">
			<a th:href="@{'/admin/addDirector/' + ${movie.id}}">Aggiungi regista</a>
		</div>

		<div>
			<span>Attori: </span>
			<div th:each="actor: ${movie.actors}">
				<span th:text="${actor.name} + ' ' + ${actor.surname}">Al Pacino</span>
			</div>
			<a th:href="@{'/admin/updateActors/' + ${movie.id}}">
				<button type="button">Modifica</button>
			</a>
		</div>
		<div th:if="${movie.reviews != null && !movie.reviews.isEmpty()}">
			<ul th:each="review : ${movie.reviews}">
				<span th:text="'Autore: ' + ${review.user.name}"></span>
				<li th:text="'Voto: '+${review.rating}"></li>
				<li th:text="'Titolo: '+${review.title}"></li>
				<li th:text="'Commento: '+${review.comment}"></li>
				<a th:href="@{'/admin/deleteReview'+'/'+${review.id}}">rimuovi Recensione</a>
			</ul>
		</div>
		<div th:unless="${movie}">Film non esistente</div>
</body>

</html>