<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siw Movie</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="header">
	
		<nav>
			<a href="/"><img src="/images/logo.png" class="loghetto"></a>
		   <div th:if="${#request.userPrincipal}">
				<span th:text="${#request.userPrincipal.principal.username}"></span>
				<a href="/logout"><button>Disconnetti</button></a>
			</div>
			<div th:unless="${#request.userPrincipal}">
				<a href="/login"><button>Accedi</button></a>
				<a href="/register"><button>Iscriviti</button></a>
			</div>
		</nav>
    
        <div class="containerRegister">
            <h1>Nuovo Artista</h1>
			
            <form class="form" th:action="@{/admin/artist}" method="POST" th:object="${artist}" enctype="multipart/form-data">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
				</div>
                <input type="text" th:field="${artist.name}" required placeholder="Nome">
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
				</span>
                <input  type="text" th:field="${artist.surname}" required placeholder="Cognome">
				<span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">
				</span>
                <input  type="date" th:field="${artist.dateOfBirth}" required placeholder="Data di nascita">
				<span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{surname}">
				</span>
                <input  type="date" th:field="${artist.dateOfDeath}" required placeholder="Data di morte">
				<span th:if="${#fields.hasErrors('dateOfDeath')}" th:errors="*{surname}">
				</span>
                <input type="file" accept="image/*" name="file" required placeholder="Immagine Profilo">
                <input type="submit" value="Conferma">
			</form>
        </div>
    </div>
  
</body>
</html>