<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Siw Movie</title>
		<link rel="stylesheet" href="/css/movie.css">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="header">
			<nav>
				<a href="/"><img src="/images/logo.png" class="logo"></a>
				<div th:if="${#request.userPrincipal}">
					<span th:text="${#request.userPrincipal.principal.username}"></span>
					<a href="/logout"><button>Disconnetti</button></a>
				</div>
				<div th:unless="${#request.userPrincipal}">
					<a href="/login"><button>Accedi</button></a>
					<a href="/register"><button>Iscriviti</button></a>
				</div>
			</nav>
			<div class="movie-details">
				<img th:src="@{'data:image/*;base64,'+${artist.profilePicture.base64Image}}"
					alt="Movie Poster"
					class="movie-poster">
				<div class="movie-info">
					<h1 th:text="${artist.name}+' '+${artist.surname}" class="movie-title">Titolo</h1>
					<p th:if ="${artist.dateOfBirth!=null}" th:text="'Data di nascita: '+${artist.dateOfBirth}" class="movie-year">Anno: 2023</p>
					<p  th:if ="${artist.dateOfDeath!=null}" th:text="'Data di morte: '+${artist.dateOfDeath}" class="movie-year">Anno: 2023</p>
					<p class="movie-actors"> <span>Film Diretti: </span><span
							th:each="movie:${directedMovies}"
							th:text="${movie.title} + ' ('+ ${movie.year}+'); '">Attori: Actor 1,
							Actor 2,
							Actor 3</span><a th:href="@{'/admin/updateDirectedMovies/' + ${artist.id}}">
								Modifica
							</a></p>
					<p   class="movie-actors"> <span>Film Recitati: </span><span
							th:each="movie:${artist.starredMovies}"
							th:text="${movie.title} + ' ('+ ${movie.year}+'); '">Attori: Actor 1,
							Actor 2,
							Actor 3</span><a th:href="@{'/admin/updateStarredMovies/' + ${artist.id}}">
								Modifica
							</a></p>
				</div>

			</div>
			<div th:unless="${artist}">Non esiste</div>
		</body>

	</html>
