
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Siw Movie</title>
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <div class="header">
            <nav>
				<a href="/"><img src="/images/logo.png" class="logo"></a>
               <div th:if="${#request.userPrincipal}">
                    <span th:text="${#request.userPrincipal.principal.username}"></span>
                    <a href="/logout"><button>Disconnetti</button></a>
                </div>
                <div th:unless="${#request.userPrincipal}">
                    <a href="/login"><button>Accedi</button></a>
                    <a href="/register"><button>Iscriviti</button></a>
                </div>
            </nav>
            <div class="header-content">
                <h1>Gestione Film</h1>
               
                <div class="buttons">
                    <a href="/admin/formNewMovie"><button type="button">Nuovo Film</button></a>
                    <a href="/admin/manageMovies"><button type="button">Gestisci Film</button></a>
                </div>
            </div>
        </div>
    </body>
</html>

