
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Siw Movie</title>
	<link rel="stylesheet" href="/css/toAdd.css" />
</head>

<body>
	<div class="header">
		<nav>
			<img src="/images/logo.png" class="logo">
			<div th:if="${#request.userPrincipal}">
				<span th:text="${#request.userPrincipal.principal.username}"></span>
				<a href="/logout"><button>Disconnetti</button></a>
			</div>
			<div th:unless="${#request.userPrincipal}">
				<a href="/login"><button>Accedi</button></a>
				<a href="/register"><button>Iscriviti</button></a>
			</div>
		</nav>
		<div class="directed">
			<div class="toadd">
				<h1 th:text="'Film recitati da ' + ${artist.name}"></h1>
				<div th:if="${artist.starredMovies.isEmpty()}">Non ci sono film recitati da questo attore</div>
				<ul>
					<li th:each="movie : ${artist.starredMovies}">
						<span th:text="${movie.title}+' ('+${movie.year}+')'"></span>
						<a th:href="@{'/admin/removeStarredMovieFromArtist/'+ ${artist.id}+'/'+${movie.id}}">Cancella</a>
					</li>
				</ul>
			</div>
			<div>
				<h1>Film che si possono aggiungere:</h1>
				<ul>
					<li th:each="movie : ${starredMoviesToAdd}">
						<span th:text="${movie.title}+' ('+${movie.year}+')'"></span>
						<a th:href="@{'/admin/addStarredMovieToArtist/'+ ${artist.id}+'/'+${movie.id}}">Aggiungi</a>
					</li>
				</ul>
				<div>
					<div>
						<a th:href="@{'/admin/formUpdateArtist/'+ ${artist.id}}"><button type="button">Fine</button></a>
					</div>
				</div>
			</div>

</body>

</html>