<!DOCTYPE html>
<html>
  <head>
    <title>Film</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
    <h1>Dettagli Film</h1>
    <div th:if="${movie}">
        <span th:text="${movie.title}">Up!</span>
        <span th:text="'(' + ${movie.year} + ')'">2000</span>
        <span><img th:src="@{'data:image/*;base64,'+${movie.image.base64Image}}"></span>
    </div>
	<div th:if="${#request.userPrincipal}">
		<div th:if="${userReview}">
			<div>Voto: <span th:text="${userReview.rating}"></span></div>
			<div>Titolo: <span th:text="${userReview.title}"></span></div>
			<div>Commento: <span th:text="${userReview.comment}"></span></div>
		</div>
		<div th:unless="${userReview}">
			<span>Add a review</span>
			<form th:action="@{/review}" method="post">
				<input type="hidden" name="movie" th:value="${movie.id}" />
				<div>Voto:<input type="number" min="1" max="5" name="rating"></div>
				<div>Titolo:<input type="text" name="title"></div>
				<div>Commento:<input type="text" name="comment"></div>
				<div><button type="submit">Conferma</button></div>
			</form>
		</div>
	</div>
	<div th:if="${movieReviews != null && !movieReviews.isEmpty()}">
		<ul th:each="review : ${movieReviews}">
			<span th:text="'Autore: ' + ${review.user.name}"></span>
			<li th:text="'Voto: '+${review.rating}"></li>
			<li th:text="'Titolo: '+${review.title}"></li>
			<li th:text="'Commento: '+${review.comment}"></li>
		</ul>
	</div>
    <div th:unless="${movie}">Non esiste</div>
  </body>
</html>
