
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Siw Movie</title>
		<link rel="stylesheet" href="/css/movies.css">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	</head>
	<body>
		<div class="header">
			<nav>
				<a href="/"><img src="images/logo.png" class="logo"></a>

				<div th:if="${#request.userPrincipal}">
					<span th:text="${#request.userPrincipal.principal.username}"></span>
					<a href="/logout"><button>Disconnetti</button></a>
				</div>
				<div th:unless="${#request.userPrincipal}">
					<a href="/login"><button>Accedi</button></a>
					<a href="/register"><button>Iscriviti</button></a>
				</div>
			</nav>
			<div class="header__search">
				<h1>Elenco Film</h1>
				<div><form th:action="@{/searchMovies}" method="post">
						<input type="number" th:value="${year}" name="year"
							placeholder="Cerca film per anno" />
						<button type="submit">Cerca</button>
					</form>
					<form th:action="@{/searchMoviesByTitle}" method="post">
						<input type="text" th:value="${title}" name="title"
							placeholder="Cerca film per titolo" />
						<button type="submit">Cerca</button>
					</form></div>

			</div>
			<div th:if="${movies==null || movies.isEmpty()}">Non ci sono film nel sistema</div>
			<div class="row">
				<div class="row__posters">
					<a th:each="movie : ${movies}" th:href="@{'/movie' + '/' + ${movie.id}}"><div>
							<img th:src="@{'data:image/*;base64,'+${movie.image.base64Image}}" alt
								class="row__poster">
							<h2 th:text="${movie.title} + ' ('+${movie.year}+')'"></h2>
						</div></a>
					<a th:each="movie : ${movies}" th:href="@{'/movie' + '/' + ${movie.id}}"><div>
							<img th:src="@{'data:image/*;base64,'+${movie.image.base64Image}}" alt
								class="row__poster">
							<h2 th:text="${movie.title} + ' ('+${movie.year}+')'"></h2>
						</div></a>
					<a th:each="movie : ${movies}" th:href="@{'/movie' + '/' + ${movie.id}}"><div>
							<img th:src="@{'data:image/*;base64,'+${movie.image.base64Image}}" alt
								class="row__poster">
							<h2 th:text="${movie.title} + ' ('+${movie.year}+')'"></h2>
						</div></a>
				</div>
				<i class="fas fa-chevron-left arrowLeft"></i>
				<i class="fas fa-chevron-right arrow"></i>
			</div>
			<div class="row">
				<div class="row__posters">
					<a th:each="movie : ${movies}" th:href="@{'/movie' + '/' + ${movie.id}}"><div>
							<img th:src="@{'data:image/*;base64,'+${movie.image.base64Image}}" alt
								class="row__poster">
							<h2 th:text="${movie.title} + ' ('+${movie.year}+')'"></h2>
						</div></a>
					<a th:each="movie : ${movies}" th:href="@{'/movie' + '/' + ${movie.id}}"><div>
							<img th:src="@{'data:image/*;base64,'+${movie.image.base64Image}}" alt
								class="row__poster">
							<h2 th:text="${movie.title} + ' ('+${movie.year}+')'"></h2>
						</div></a>
					<a th:each="movie : ${movies}" th:href="@{'/movie' + '/' + ${movie.id}}"><div>
							<img th:src="@{'data:image/*;base64,'+${movie.image.base64Image}}" alt
								class="row__poster">
							<h2 th:text="${movie.title} + ' ('+${movie.year}+')'"></h2>
						</div></a>
				</div>
				<i class="fas fa-chevron-left arrowLeft"></i>
				<i class="fas fa-chevron-right arrow"></i>
			</div>
		</div>
		

		<script>
   const arrowRight = document.querySelectorAll(".fa-chevron-right");
const arrowLeft = document.querySelectorAll(".fa-chevron-left");
const postersContainer = document.querySelectorAll(".row__posters");

arrowRight.forEach((arrow,index) => {
    arrow.addEventListener("click", () => {
        postersContainer[index].scrollBy({
            top: 0,
            left: 300,
            behavior: "smooth"
        });
    });
});

arrowLeft.forEach((arrow,index) => {
    arrow.addEventListener("click", () => {
        postersContainer[index].scrollBy({
            top: 0,
            left: -300,
            behavior: "smooth"
        });
    });
});

</script>

	</body>
</html>
