
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Siw Movie</title>
		<link rel="stylesheet" href="/css/movie.css">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="header">
			<nav>
				<a href="/"><img src="/images/logo.png" class="logo"></a>
				<div th:if="${#request.userPrincipal}">
					<span th:text="${#request.userPrincipal.principal.username}"></span>
					<a href="/logout"><button>Disconnetti</button></a>
				</div>
				<div th:unless="${#request.userPrincipal}">
					<a href="/login"><button>Accedi</button></a>
					<a href="/register"><button>Iscriviti</button></a>
				</div>
			</nav>
			<div class="movie-details">
				<img th:src="@{'data:image/*;base64,'+${movie.image.base64Image}}"
					alt="Movie Poster"
					class="movie-poster">
				<div class="movie-info">
					<h1 th:text="'Titolo: '+${movie.title}" class="movie-title">Titolo</h1>
					<p th:text="'Anno: '+${movie.year}" class="movie-year">Anno: 2023</p>
					<p th:if="${movie.director}"
						th:text="'Direttore: '+${movie.director.name}+ ' '+ ${movie.director.surname}"
						class="movie-director">Director: Director
						Name</p>
					<p th:if="${!movie.actors.isEmpty()}"class="movie-actors"> <span>Attori: </span><span
							th:each="actor:${movie.actors}"
							th:text="${actor.name} + ' '+ ${actor.surname}+'; '">Attori: Actor 1,
							Actor 2,
							Actor 3</span></p>
					<div th:if="${#request.userPrincipal != null && userReview!=null}">
						<div class="review-box">
							<div class="author">La tua recensione</div>
							<div class="rating">
								<span th:each="star : ${#numbers.sequence(1, userReview.rating)}"
									class="fa fa-star star"></span>
							</div>
							<h1 th:text="${userReview.title}" class="title">Titolo</h1>
							<h2 th:text="${userReview.comment}" class="comment-title">commento molto
								molto lungo
								che fa rifletter e amsd ad sa'jfae0ifjaegfafsgfdsi
								dfijsd</h2>

						</div>

						<a th:href="@{'/updateReview/'+${userReview.id}}">Modifica </a>
						<a th:href="@{'/deleteReview/'+${userReview.id}}">Elimina </a>

					</div>
					<div th:if="${#request.userPrincipal!= null &&  userReview == null}"
						class="container">
						<h1>Recensisci</h1>
						<form th:action="@{/review}" method="post" class="form">
							<input type="hidden" name="movie" th:value="${movie.id}" />
							<input type="number" min="1" max="5" name="rating"
								placeholder="Numero Di Stelle">
							<input type="text" name="title" placeholder="Titolo">
							<textarea type="text" name="comment" placeholder="Commento"></textarea>
							<input type="submit" value="Recensisci">
						</form>
					</div>

				</div>
				<div class="row" th:if="!movie.images.isEmpty()">
					<div class="row__posters">
						<img th:each="image :${movie.images} "
							th:src="@{'data:image/*;base64,'+${image.base64Image}}" alt
							class="row__poster">

					</div>
					<i class="fas fa-chevron-left arrowLeft"></i>
					<i class="fas fa-chevron-right arrow"></i>
				</div>

			</div>

			<div th:if="${movieReviews != null && !movieReviews.isEmpty()}"
				class="movie-reviews">
				<h2>Recensioni</h2>
				<ul class="review-list">
					<li th:each="review : ${movieReviews}" class="review"><div
							class="review-box">
							<div th:text="'Autore: ' + ${review.user.name}" class="author">Nome dell'autore</div>
							<div class="rating">
								<span th:each="star : ${#numbers.sequence(1, review.rating)}"
									class="fa fa-star star"></span>

							</div>
							<h1 th:text="${review.title}" class="title">Titolo</h1>
							<h2 th:text="${review.comment}" class="comment-title">commento
								molto molto lungo
								che fa rifletter e amsd ad sa'jfae0ifjaegfafsgfdsi
								dfijsd
							</h2>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div th:unless="${movie}">Non esiste</div>
	</body>
	<script>
		const arrowRight = document.querySelectorAll(".fa-chevron-right");
	 const arrowLeft = document.querySelectorAll(".fa-chevron-left");
	 const postersContainer = document.querySelectorAll(".row__posters");
	 
	 arrowRight.forEach((arrow,index) => {
		 arrow.addEventListener("click", () => {
			 postersContainer[index].scrollBy({
				 top: 0,
				 left: 300,
				 behavior: "smooth"
			 });
		 });
	 });
	 
	 arrowLeft.forEach((arrow,index) => {
		 arrow.addEventListener("click", () => {
			 postersContainer[index].scrollBy({
				 top: 0,
				 left: -300,
				 behavior: "smooth"
			 });
		 });
	 });
	 
	 </script>
</html>
